alabaster==0.7.10
Babel==2.4.0
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
Bottleneck==1.2.0
cffi==1.9.1
chest==0.2.3
click==6.7
cloudpickle==0.2.2
colorama==0.3.7
conda==4.3.22
configobj==5.0.6
cryptography==1.7.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.14.1
datashape==0.5.4
decorator==4.0.11
dill==0.2.5
docutils==0.13.1
entrypoints==0.2.2
et-xmlfile==1.0.1
Flask==0.12.1
Flask-Cors==3.0.2
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.999
idna==2.2
imagesize==0.7.1
ipykernel==4.6.0
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.9.6
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyter-kernel-gateway==2.0.0
llvmlite==0.16.0
locket==0.2.0
lxml==3.7.3
MarkupSafe==0.23
matplotlib==2.0.0
menuinst==1.4.2
microsoftml==1.4.0
mistune==0.7.4
mpmath==0.19
multipledispatch==0.4.9
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
nltk==3.2.2
notebook==5.0.0
numba==0.31.0
numexpr==2.6.2
numpy==1.12.1
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
openpyxl==2.4.1
pandas==0.19.2
pandas-datareader==0.2.1
pandasql==0.7.3
pandocfilters==1.4.1
partd==0.3.7
path.py==10.1
pathlib2==2.2.1
patsy==0.4.1
pickleshare==0.7.4
Pillow==4.1.0
pip==9.0.1
prompt-toolkit==1.0.14
psutil==5.2.1
py==1.4.33
pyasn1==0.2.3
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0
Pygments==2.2.0
pyodbc==4.0.16
pyOpenSSL==16.2.0
pyparsing==2.1.4
pytest==3.0.7
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
pywin32==220
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.13.0
requests-file==1.4.1
revoscalepy==9.2.0
ruamel-yaml
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
setuptools==27.2.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
sphinx==1.5.4
SQLAlchemy==1.1.9
sqlparse==0.1.19
statsmodels==0.8.0
sympy==1.0
tables==3.2.2
testpath==0.3
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.2
unicodecsv==0.14.1
wcwidth==0.1.7
Werkzeug==0.12.1
wheel==0.29.0
widgetsnbextension==2.0.0
win-unicode-console==0.5
xlrd==1.0.0
XlsxWriter==0.9.6
xlwt==1.2.0

python-dotenv==0.8.2
